body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('rocket-background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;

}
nav ul li a:hover {
    color: lightseagreen; 
}

.social-icons {
    display: flex;
    border-radius: 50%;
}

.social-icons a {
    margin-left: 10px;
    
}

section {
    padding: 50px 20px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

img{
    border-radius: 50%;
}